* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

#b1 {
    background: url(background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

header {
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 99;
    box-shadow: 0 0 10px #000;
    background: rgba(65, 64, 64, 0.5);
}

#chck1 {
    display: none;
}

i {
    color: #fff;
    cursor: pointer;
}

header .logo {
    flex: 1;
    margin-left: 40px;
}

header .logo a {
    text-decoration: none;
    color: #fff;
    font-family: papyrus, fantasy;
    font-size: 30px;
}

header .search-box {
    flex: 1;
    position: relative;
    margin-left: -80px;
}

.search-box input {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 30px;
    color: grey;
    font-size: 16px;
    text-align: center;
}

.search-box button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0.9);
    background: grey;
}

header ul {
    flex: 2;
    display: flex;
    justify-content: space-evenly;
}

header ul li {
    list-style: none;
    position: relative;
}

header ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    padding: 15px;
}

header ul li a:hover {
    color: #c1bcbc;
    border-bottom: 2px solid #c1bcbc;
}

header .menu {
    font-size: 2.5em;
    display: none;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(65, 64, 64, 0.5);
    min-width: 200px;
    z-index: 1;
    margin-top: 15px;
    top: 100%;
    left: 0;
}

.dropdown-content li {
    list-style: none;
}

.dropdown-content li a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content li a:hover {
    background-color: rgba(65, 64, 64, 0.5);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.slider {
    width: 80%;
    max-width: 800px;
    margin: 5px auto 0 auto;
    position: relative;
    overflow: hidden;
    margin-top: 30px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 400px;
}

.slide {
    min-width: 100%;
    transition: 0.5s;
    position: relative;
}

.slide a{
    cursor: pointer;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.description {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    text-shadow: 3px 3px 2px #000;
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    padding: 15px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 50%;
    user-select: none;
    background-color: transparent;
    border: none;
    outline: none;
}

.next {
    right: 10px;
}

.prev {
    left: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(72, 69, 69, 0.922);
    border-radius: 30%;
}

.progress-dots {
    text-align: center;
    position: absolute;
    bottom: 15px;
    width: 100%;
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #d6d6d6;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active {
    background-color: rgb(113, 108, 108);
}

@media(max-width: 1000px) {
    .search-box button {
        position: absolute;
    }
    header ul {
        position: fixed;
        top: 100px;
        background: rgba(138, 137, 137, 0.5);
        height: calc(100vh - 100px);
        width: 50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }
    header .menu {
        display: block;
        width: 100px;
        text-align: center;
    }
    #chck1:checked ~ ul {
        right: 0;
    }
}

@media(max-width: 600px) {
    header .logo {
        font-size: 10px;
        margin-left: 8px;
    }
    header ul {
        width: 100%;
    }
}

.content {
    padding-top: 120px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

#m1{
    margin-top: 50px;
    color: white;
    font-size: 17px;
    padding: 80px;
    animation: slide-up 3s ease;
}

@keyframes slide-up {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#h1{
    font-family: 'Aclonica';
    text-shadow: 4px 4px #000;
    font-size: 35px;
    margin-left: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
}

#p1{
    font-family: 'Afacad';
    font-size: 22px;
    line-height: 1.9;
    margin-left: 30px;
    margin-right: 30px;
}

#h2{
    font-family: 'Aclonica';
    text-shadow: 4px 4px 2px#000;
    font-size: 35px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.purpose-container {
    font-family: 'Afacad';
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 20px;
}

.purpose-box {
    flex: 1 1 calc(33.333% - 20px);
    background: rgba(232, 231, 231, 0.635);
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.purpose-box img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    margin-top: 20px;
}

.purpose-box h4 {
    margin: 15px 0 10px;
    font-size: 1.5em;
    color: #333;
}

.purpose-box p {
    font-size: 1em;
    color: #666;
}

.purpose-box .learn-more {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px 15px;
    color: #fff;
    background-color: #155e7e;
    text-decoration: none;
    border-radius: 10px;
}

.purpose-box .learn-more:hover {
    background-color: #2d88ae;
}

.purpose-box:hover{
    transform: scale(1.05);
    background-color: rgba(232, 231, 231, 0.47);
}

@media (max-width: 768px) {
    .purpose-box {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .purpose-box {
        flex: 1 1 100%;
    }
}

.feedback-form {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: rgba(232, 231, 231, 0.635);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Afacad';
}

.feedback-form .form-group {
    margin-bottom: 15px;
}

.feedback-form label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

.feedback-form input,
.feedback-form select,
.feedback-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.feedback-form textarea {
    resize: vertical;
}

.feedback-form .submit-button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.feedback-form .submit-button:hover {
    background-color: #0056b3;
}

#b2 {
    background: url(background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    font-family: 'Afacad';
    line-height: 1.5;
    font-size: 18px;
    padding-top: 100px;
}

.feedback-container {
    max-width: 700px;
    margin: 50px auto;
    background-color: rgba(232, 231, 231, 0.635);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: slide-up 3s ease;
}

@keyframes slide-up {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.feedback-container h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #333;
}

.feedback-container hr{
    background-color: rgb(134, 134, 134);
}

.feedback-container label {
    font-size: 16px;
    display: block;
    color: black;
    margin-top: 20px;
}

#l1{
    background-color: rgba(232, 231, 231, 0.635);
}

input{
    background-color: rgba(232, 231, 231, 0.635);
    font-family: 'Afacad';
}

.feedback-container input[type="text"],
.feedback-container input[type="email"],
.feedback-container textarea,
.feedback-container select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    color: #000000;
}

.feedback-container textarea {
    resize: both;
    height: 100px;
    background-color: rgba(232, 231, 231, 0.635);
}

.rating {
    display: flex;
    justify-content: center;
    direction: rtl;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rating input {
    display: none;
}

.rating label {
    font-size: 35px;
    color: #858080bb;
    padding: 0 10px;
    cursor: pointer;
    direction: ltr;
}

.rating input:checked ~ label,
.rating input:checked ~ label ~ label,
.rating label:hover,
.rating label:hover ~ label {
    color: #ffbf00;
}

.feedback-container button[type="submit"] {
    background-color: #155e7e;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Afacad';
    margin-top: 40px;
    margin-left: 290px;
    margin-bottom: 10px;
}

.feedback-container button[type="submit"]:hover {
    background-color: #2d88ae;
}

#p4 {
    font-family: 'Aclonica';
    color: white;
    text-shadow: 4px 4px 3px black;
    font-size: 30px;
    line-height: 1.9;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    font-family: 'Aclonica';
    text-align: center;
}

footer {
    background: rgba(65, 64, 64, 0.5);
    color: white;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: 'Afacad';
    font-size: 15px;
    line-height: 1.9;
}

#title{
    text-shadow: 3px 3px 2px black;
    margin-bottom: 10px;
}

#title1{
    text-shadow: 3px 3px 2px black;
    margin-bottom: 10px;
    margin-left: -10px;
}

#p31{
    margin-bottom: 15px;
    margin-left: -10px;
}

#location{
    margin-top: -25px;
    margin-left: 4px;
}

#location-icon{
    margin-left: -3px;
    margin-top: -29px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
}

.footer-section {
    flex: 1;
    padding: 10px;
    margin-bottom: 20px;
}

.footer-section h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    margin-right: 50px;
} 

.footer-section ul li i {
    margin-right: 10px;
}

.footer-section .social-icon {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
}

.footer-section .social-media a:hover {
    background: #2d88ae;
    cursor: pointer;
}

.footer-section .social-media a {
    margin-right: 10px;
    margin-left: 30px;
}

.feedback-button {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    color: #fff;
    background-color: #155e7e;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Afacad';
    margin-top: 20px;
}

.feedback-button:hover {
    background-color: #2d88ae;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-top: 1px solid #ccc;
    font-size: 14px;
    margin-bottom: -20px;
}

.footer-bottom p {
    margin-left: 20px;
}

.footer-logo a {
    color: white;
    text-decoration: none; 
    font-family: Papyrus, fantasy;
    font-size: 30px;
    margin-right: 20px;
}

.about-us {
    background: url(background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 665vh;
    padding-top: 100px;
    font-family: 'Afacad';
}

.about-us section {
    font-size: 17px;
    padding: 90px;
}

.about-us .welcome h1 {
    font-family: 'Aclonica';
    margin-top: -10px;
    margin-bottom: -100px;
    font-size: 50px;
    color: white;
    text-shadow: 4px 4px 2px black;
    text-align: center;
    animation: slide-up 3s ease;
}

@keyframes slide-up {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.mission {
    margin: 60px 60px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.491);
    animation: slide-up 3s ease;
}

@keyframes slide-up {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.mission h2{
    font-family: 'Aclonica';
    color: white;
    text-shadow: 4px 4px #000;
    font-size: 35px;
    margin-bottom: -100px;
    margin-left: 18px;
}

.mission .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mission .content p {
    flex: 1;
    margin-right: 60px;
    font-size: 20px;
    line-height: 1.9;
    margin-top: -20px;
}

.mission .content img {
    flex: 0 0 40%;
    max-width: 40%;
    margin-bottom: 20px;
}

.mission .content img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .mission .content {
        flex-direction: column;
    }

    .mission .content img {
        max-width: 100%;
        margin-top: 20px;
        margin-right: 0;
    }
}

.vision {
    margin: 60px 60px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.491);
}

.vision h2{
    font-family: 'Aclonica';
    color: white;
    text-shadow: 4px 4px #000;
    font-size: 35px;
    margin-left: 18px;
}

.vision .content2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vision .content2 p {
    flex: 1;
    margin-right: 60px;
    margin-left: 30px;
    color: white;
    font-size: 20px;
    line-height: 1.9;
    margin-top:-70px;
}

.vision .content2 img {
    flex: 0 0 40%;
    max-width: 40%;
    margin-bottom: 20px;
    border-radius: 10px;
}

.vision .content2 img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .vision .content2 {
        flex-direction: column;
    }

    .vision .content2 img {
        max-width: 100%;
        margin-top: 20px;
        margin-right: 0;
    }
}

.introduction h2{
    font-family: 'Aclonica';
    color: white;
    text-shadow: 4px 4px #000;
    font-size: 35px;
    margin-left: 18px;
    margin-top: -80px;
    margin-bottom: 10px;
}

.introduction #b1{
    font-size: 24px;
    text-shadow: 3px 3px 2px black;
}

.introduction p{
    color: white;
    font-size: 22px;
    padding: 20px;
    margin-right: 10px;
    line-height: 1.9;
}

.values h2{
    font-family: 'Aclonica';
    color: white;
    text-shadow: 4px 4px #000;
    font-size: 35px;
    margin-left: 18px;
    margin-top: -140px;
}

.values .value-item{
    display: inline-block;
    width: 30%;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.491);
}

.values .value-item img {
    width: 100%;
    height: 150px;
    border-radius: 8px;
}

.values .value-item h3{
    margin-top: 10px;
    font-size: 25px;
    color: white;
    text-shadow: 3px 3px 2px black;
    line-height: 1.9;
}

.values .value-item p{
    margin-top: 5px;
    font-size: 20px;
    color: white;
    line-height: 1.9;
}

.experts h2{
    font-family: 'Aclonica';
    color: white;
    text-shadow: 4px 4px #000;
    font-size: 35px;
    margin-left: 18px;
    margin-top: -90px;
    margin-bottom: -10px;
}

.experts .expert-item{
    display: inline-block;
    width: 30%;
    margin-right: -10px;
    margin-left: 110px;
    margin-top: 40px;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.491);
    box-sizing: content-box;
    color: white;
    font-size: 20px;
}

.experts #p20{
    font-size: 21px;
}

.experts .expert-item img {
    width: 80%;
    height: auto;
    border-radius: 50%;
}

#b3 {
    background: url(background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 160vh;
}

.contact-section {
    font-family: 'Afacad';
    padding: 110px 70px;
    max-width: 1200px;
    max-height: 950px;
    margin-top: 150px;
    margin-right: 80px;
    margin-left: 80px;
    background-color: rgba(232, 231, 231, 0.635);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: slide-up 3s ease;
}

@keyframes slide-up {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.contact-section h1 {
    font-family: 'Aclonica';
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: -40px;
    text-align: left;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 80px;
}

.contact-form,
.newsletter {
    flex: 1;
    min-width: 300px;
}

.contact-form form,
.newsletter form {
    display: flex;
    flex-direction: column;
}

.contact-form label,
.newsletter label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea,
.newsletter input {
    margin-bottom: 25px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

.contact-form textarea {
    resize: both;
    height: 100px;
    font-family: 'Afacad';
    background-color: rgba(232, 231, 231, 0.635);
}

.contact-form button,
.newsletter button {
    padding: 10px 15px;
    color: #fff;
    background-color: #155e7e;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Afacad';
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover,
.newsletter button:hover {
    background-color: #2d88ae;
}

.newsletter h2 {
    font-size: 28px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.newsletter p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
}

.contact-info p,
.contact-info a {
    margin-top: 30px;
    margin-bottom: 5px;
    color: #333333cf;
    font-size: 14px;
    text-decoration: none;
    line-height: 1.8;
    margin-left: 10px;
}

.contact-info a:hover {
    text-decoration: underline;
    color: #5a5959cf;
}

.contact-info .contact{
    float:right;
    margin-top: -285px;
    margin-right: -30px;
}

#p5{
    font-size: 13px;
    text-align: left;
    margin-top: 60px;
    margin-bottom: 90px;
    margin-left: -160px;
}

.topic4{
    background: url(background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Afacad';
    color: white;
}

.topic4 .topic-4{
    background: url(background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Afacad';
    padding: 100px 80px;
    color: white;
}

.title h2{
    margin-top: 15px;
    font-size: 40px;
    font-family: 'Aclonica';
    color: white;
    text-shadow: 4px 4px 2px black;
    text-align: left;
    animation: slide-up 3s ease;
}

@keyframes slide-up {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.title img{
    width: 650px;
    height: auto;
    margin-left: 210px;
    margin-top: 20px;
    animation: slide-up 3s ease;
}

@keyframes slide-up {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.toc4 {
    margin: 40px 0;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(92, 90, 90, 0.365);
    margin-bottom: -40px;
    margin-top: -50px;
}

.toc4 h3{
    margin-left: 10px;
    margin-bottom: 15px;
    font-size: 25px;
    color: white;
}

.toc4 ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.toc4 li {
    display: inline;
}

.toc4 a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.toc4 a:hover {
    background-color: #00000067;
}

section {
    padding: 50px 20px;
    font-size: 20px;
    line-height: 1.9;
}

section h2 {
    font-family: 'Aclonica';
    color: white;
    text-shadow: 4px 4px 2px black;
    font-size: 35px;
    margin-bottom: 20px;
}

section p {
    font-family: 'Afacad';
    font-size: 22px;
    line-height: 1.9;
    margin-left: 10px;
    margin-right: 10px;
}

.video-container {
    margin-bottom: -40px;
    text-align: center;
}

.video-container iframe {
    width: 80%;
    max-width: 710px;
    height: 400px;
    border: none;
    border-radius: 10px;
}

#section2 dl{
    margin-top: 10px;
}

dt {
    margin-left: 10px;
    margin-top: 1em;
    text-shadow: 2px 2px 2px black;
    font-size: 25px;
}

dd {
    margin-left: 2em;
    margin-bottom: 0.5em;
    font-size: 22px;
}

#section3 h2{
    margin-top: -70px;
}

.flex-container {
    display: flex;
    align-items: center;
    gap: 2em;
}

.flex-container img {
    max-width: 350px;
    height: 330px;
    flex: 1;
    margin-left: 40px;
    margin-top: 20px;
}

#sec3content {
    flex: 1;
    padding: 1em;
}

#sec3content p{
    font-size: 23px;
}

#section3 p{
    margin-top: 40px;
    margin-left: 20px;
    font-size: 24px;
}

#section4 h2{
    margin-top: -50px;
}

.video-container2 {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.video-container2 iframe {
    width: 80%;
    max-width: 710px;
    height: 400px;
    border: none;
    border-radius: 10px;
}

.flex-container2 {
    display: flex;
    align-items: center;
    gap: 2em;
    margin-top: 20px;
}

.flex-container2 img {
    max-width: 200px;
    height: 180px;
    flex: 1;
    margin-left: 40px;
    margin-top: 20px;
}

#sec4content {
    flex: 1;
    padding: 1em;
}

#sec4content #p6{
    font-size: 27px;
    text-shadow: 3px 3px 2px black;
}

#sec4content p{
    font-size: 23px;
}

#section4 #p7{
    margin-top: 30px;
    margin-bottom: 10px;
}

#section4 #p7 a{
    text-decoration: none;
    color:rgb(187, 179, 179);
}

#section4 #p7 a:hover{
    text-decoration: underline;
    color:rgb(32, 30, 30);
}

#section5 h2{
    margin-top: -60px;
}

.guidelines-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.guideline-item {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guideline-box {
    position: relative;
    width: 100%;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: transform 0.3s;
}

.guideline-box img {
    width: 100%;
    height: 430px;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.guideline-box:hover .overlay {
    opacity: 1;
}

.guideline-box:hover {
    transform: scale(1.05);
}

.view-more {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

.guideline-info {
    text-align: center;
    margin-top: 10px;
    margin-bottom: -80px;
}

.guideline-info p {
    font-size: 16px;
}

.heart {
    position: absolute;
    bottom: 10px;
    right: 30px;
    cursor: pointer;
}

.heart i {
    font-size: 30px;
}

.heart i.fas {
    color: rgba(255, 0, 0, 0.808);
}

#b4{
    font-size: 23px;
    text-shadow: 3px 3px 2px black;
}

.topic5{
    background: url(background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Afacad';
    color: white;
}

.topic5 .topic-5{
    background: url(background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Afacad';
    padding: 100px 80px;
    color: white;
    height: 1735vh;
}

.title h2{
    margin-top: -10px;
}

.title img{
    margin-top: 10px;
}

.toc1 {
    border-left: 3px solid rgb(53, 51, 51);
    padding-left: 30px;
    margin: 38px 0;
}

.toc1 h3 {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 30px;
    text-shadow: 3px 3px 2px black;
}

.toc1 ul {
    list-style: none;
    padding: 0;
    font-size: 22px;
}

.toc1 ul li {
    margin-bottom: 10px;
}

.toc1 ul li a {
    text-decoration: none;
    color: white;
}

.toc1 ul li a:hover {
    text-decoration: underline;
    color: rgb(24, 23, 23);
}

#what h2,
#why h2,
#idea h2{
    margin-top: -30px;
}

#how h2{
    margin-top: -70px;
}

#p8{
    text-align: center;
    font-family: 'Aclonica';
    font-size: 25px;
    margin-top: 10px;
    text-shadow: 3px 3px 3px black;
}

#p9{
    font-size: 18px;
    text-align: right;
    margin-top: -30px;
    text-shadow: 3px 3px 3px black;
}

#what img{
    width: 550px;
    height: auto;
    margin-left: 250px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#p10{
    margin-bottom: -10px;
    font-size: 23px;
}

#p11{
    font-size: 30px;
    text-shadow: 3px 3px 3px black;
    margin-bottom: 10px;
    font-weight: bold;
}

#p12{
    margin-bottom: 30px;
    font-size: 23px;
}

#how img{
    width: 550px;
    height: auto;
    margin-left: 250px;
    margin-top: 20px;
    margin-bottom: -20px;
}

#p13{
    font-size: 27px;
    font-family: 'Aclonica';
    text-shadow: 3px 3px 3px black;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 60px;
}

#p14{
    font-size: 23px;
}

#p15{
    font-size: 26px;
    margin-top: 20px;
    text-shadow: 3px 3px 3px black;
    font-weight: bold;
}

#p16{
    text-decoration: underline;
}

.questions-box {
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.491);
    padding: 20px;
    margin: 20px 0;
}

.questions-box p {
    font-size: 1.1em;
    margin: 5px 0;
}

.questions-box input[type="text"] {
    width: 30%;
    padding: 7px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.questions-box input[type="text"]::placeholder {
    color: #666;
    font-size: 15px;
}

#how #img2{
    width: 550px;
    height: auto;
    margin-left: 250px;
    margin-top: 30px;
    margin-bottom: 10px;
}

#b4{
    font-size: 30px;
    text-shadow: 3px 3px 3px black;
}

#p17{
    font-size: 28px;
    text-shadow: 3px 3px 3px black;
    text-align: center;
}

#idea h2{
    margin-top: -70px;
    
}

#idea img{
    width: 550px;
    height: auto;
    margin-left: 250px;
    margin-top: 10px;
    margin-bottom: 30px;
}

#p18{
    font-size: 35px;
    text-shadow: 3px 3px 3px black;
    margin-bottom: 10px;
}

#b5{
    font-size: 22px;
    text-shadow: 3px 3px 3px black;
}

#idea #img3{
    margin-top: 50px;
}

#p19{
    margin-top: 40px;
    font-size: 35px;
    text-shadow: 3px 3px 3px black;
    margin-bottom: 10px;
}

#b6{
    text-shadow: 3px 3px 2px black;
}

#m4{
    padding:0%;
    background-color: rgba(110, 26, 78, 0.477);
    font-size: 22px;
    border-radius: 5px;
    color: white;
}

#m2{
    padding:0%;
    background-color: rgba(37, 182, 158, 0.477);
    font-size: 22px;
    border-radius: 5px;
    color: white;
}

.topic6{
    background: url(background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Afacad';
    color: white;
}

.topic6 .topic-6{
    background: url(background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Afacad';
    padding: 100px 80px;
    color: white;
    height: 1049vh;
}

.title h2,
.topic-6 h2{
    font-size: 35px;
}

.toc2 {
    margin: 40px 0;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(92, 90, 90, 0.365);
    margin-bottom: -80px;
    animation: slide-up 3s ease;
}

@keyframes slide-up {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.toc2 h3{
    margin-left: 10px;
    margin-bottom: 15px;
    font-size: 25px;
    color: white;
}

.toc2 ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.toc2 li {
    display: inline;
}

.toc2 a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.toc2 a:hover {
    background-color: #00000067;
}

#what2 h2{
    margin-bottom: 30px;
}

#img9{
    width: 550px;
    height: auto;
    margin-left: 250px;
    margin-top: 90px;
    margin-bottom: 40px;
    animation: slide-up 3s ease;
}

@keyframes slide-up {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#why h2{
    margin-top: -30px;
}

#why img{
    width: 600px;
    height: auto;
    margin-left: 250px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#sign h2{
    margin-top: -40px;
    margin-bottom: 30px;
}

.video-container3 {
    margin-top: -60px;
    margin-bottom: 30px;
    text-align: center;
}

.video-container3 iframe {
    width: 80%;
    max-width: 710px;
    height: 400px;
    border: none;
    border-radius: 10px;
}

#article h2{
    margin-top: -40px;
}

.msg textarea{
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 25px;
    padding: 10px;
    border: 1px solid #cccccc70;
    border-radius: 5px;
    font-size: 18px;
    resize: both;
    height: 100px;
    width: 900px;
    font-family: 'Afacad';
    background-color: rgba(232, 231, 231, 0.37);
    color: white;
}

.msg ::placeholder{
    color: rgba(255, 255, 255, 0.687);
}

#article h2{
    margin-top: -70px;
    font-size: 35px;
}

.related-articles {
    margin-top: 40px;
}

.related-articles h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}

.article {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-top: 40px;
}

.article img {
    width: 250px;
    height: 200px;
    object-fit: cover;
    margin-right: 30px;
    margin-top: 15px;
    flex-shrink: 0;
}

.article-content {
    flex: 1;
}

.article-content h3 a {
    text-decoration: none;
    color: #ffffff;
    transition: all 0.3s ease;
    display: inline-block;
    font-size: 30px;
    text-shadow: 3px 3px 3px black;
}

.article-content h3 a:hover {
    border-bottom: 2px solid #000;
    padding-bottom: 3px;
}

.article-content p {
    margin: 10px 0;
    color: #ffffff;
}

.read-more {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: all 0.3s ease;
}

.read-more:hover {
    color: #66696b;
    border-bottom: 2px solid #66696b;
    padding-bottom: 2px;
}

hr {
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin: 40px 0;
}

#progress {
    position: fixed;
    bottom: 55px;
    right: 25px;
    height: 60px;
    width: 60px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    cursor: pointer;
}

#progress-value {
    display: block;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    background-color: white;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: #001a2e;
}

.topic1{
    background: url(background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Afacad';
    color: white;
}

.topic1 .topic-1{
    background: url(background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Afacad';
    padding: 100px 80px;
    color: white;
    height: 2708vh;
}

.title #img4{
    width: 550px;
    height: auto;
    margin-left: 250px;
    margin-top: 10px;
    margin-bottom: -40px;
    animation: slide-up 3s ease;
}

@keyframes slide-up {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#p21{
    margin-top: 10px;
}

.topic-1 h2{
    font-size: 35px;
}

#type h2{
    margin-top: 10px;
    margin-bottom: 20px;
}

#type img{
    width: 500px;
    height: auto;
    margin-left: 280px;
    margin-top: 20px;
    margin-bottom: 20px;;
}

#p39{
    font-size: 35px;
    text-shadow: 3px 3px 3px black;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

#p38{
    font-size: 35px;
    text-shadow: 3px 3px 3px black;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.box-row {
    display: flex;
    width: 100%;
}

.box {
    background: #ffffff7e;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    position: relative;
    margin-right: 10px;
    margin-top: 10px;
    width: 50%;
}

.box#benefits {
    width: 100%;
    margin-top: -10px;
}

.box-header {
    color: #fff;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
}

.box#examples .box-header {
    background: #74393964;
}

.box#purpose .box-header {
    background: #30987b70;
}

.box#benefits .box-header {
    background: #ae9e6961;
}

.box-content {
    padding: 20px;
    padding-top: 60px;
}

.box-content h3 {
    margin: 0 0 10px;
}

.box-content p {
    color: #3d4345;
    padding: 5px;
    text-align: center;
}

@media (max-width: 768px) {
    .box {
        width: 100%;
    }

    .box#benefits {
        margin-top: 20px;
    }
}

.box-content #p22{
    margin-top: 40px;
}

.box-content #p23{
    margin-top: 25px;
}

.box-content #p24{
    margin-top: 40px;
}

#advantage h2{
    margin-top: -20px;
}

#advantage #img5{
    width: 500px;
    height: auto;
    margin-left: 280px;
    margin-top: 50px;
    margin-bottom: 20px;;
}

#p37{
    margin-top: -25px;
}

#advantage a{
    text-decoration: none;
    color: rgb(231, 224, 224);
}

#advantage a:hover{
    text-decoration: underline;
    color: rgb(110, 107, 107);
}

#advantage #img6{
    width: 500px;
    height: auto;
    margin-left: 280px;
    margin-top: 10px;
    margin-bottom: 20px;;
}

#p22{
    margin-bottom: -60px;
}

.decision-tree {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    position: relative;
}

.decision-node.title {
    font-size: 35px;
    text-shadow: 3px 3px 3px black;
    margin-bottom: 30px;
    font-weight: bold;
}

.decision-node-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.decision-branch {
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
}

.decision-branch::before {
    content: '';
    position: absolute;
    top: -20px;
    width: 3px;
    height: 20px;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
}

.decision-branch::after {
    content: '';
    position: absolute;
    top: -20px;
    width: 3px;
    height: 2px;
    background-color: black;
    left: 0;
}
.decision-branch:first-child::after {
    left: 50%;
    width: 50%;
}
.decision-branch:last-child::after {
    width: 50%;
}

.box-header1 {
    color: #fff;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
}

.box-content1 {
    padding: 20px;
    padding-top: 60px;
}

.box-content1 h3 {
    margin: 0 0 10px;
}

.box-content1 p {
    color: #3d4345;
    padding: 5px;
    text-align: center;
}

.box1#definition .box-header1 {
    background: #74393964;
}

.box1#example .box-header1 {
    background: #30987b70;
}

.box1 {
    background: #ffffff7e;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    position: relative;
    margin-right: 10px;
    width: 70%;
}

.box-content1 #p25{
    margin-top: 20px;
}

#comp #img7{
    width: 480px;
    height: auto;
    margin-left: 290px;
    margin-top: 30px;
    margin-bottom: -20px;
}

#comp #img8{
    width: 450px;
    height: auto;
    margin-left: 310px;
    margin-top: 70px;
    margin-bottom: -20px;
}

#p25{
    margin-top: 20px;
}

#senior h2{
    margin-top: -20px;
}

#senior img{
    width: 550px;
    height: auto;
    margin-left: 280px;
    margin-top: 10px;
    margin-bottom: -20px;
}    

#p26{
    margin-top: 50px;
}

#balance h2{
    margin-top: -40px;
}

#p27{
    text-decoration: underline;
    background-color: rgba(255, 255, 0, 0.418);
    border-radius: 10px;
}

#p28{
    font-size: 30px;
    text-shadow: 3px 3px 3px black;
    margin-bottom: 10px;
    font-weight: bold;
    margin-top: 40px;
}

#balance a{
    text-decoration: none;
    color: rgb(212, 207, 207);
}

#balance a:hover{
    text-decoration: underline;
    color:rgb(18, 18, 18);
}

.topic2{
    background: url(background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Afacad';
    color: white;
}

.topic2 .topic-2{
    background: url(background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Afacad';
    padding: 100px 80px;
    color: white;
    height: 2065vh;
}

@keyframes slide-up {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.topic2 .topic-2 h2{
    font-size: 35px;
}

.toc3 {
    margin: 40px 0;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(92, 90, 90, 0.365);
    margin-bottom: -80px;
    animation: slide-up 3s ease;
    z-index: 1;
    position: relative;
}

@keyframes slide-up {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.toc3 h3 {
    margin-left: 10px;
    margin-bottom: 15px;
    font-size: 25px;
    color: white;
}

.toc3 ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.toc3 li {
    display: inline;
}

.toc3 a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.toc3 a:hover {
    background-color: #00000067;
}

.title #img5 {
    width: 550px;
    height: auto;
    margin-left: 250px;
    margin-top: 140px;
    margin-bottom: -20px;
    animation: slide-up 3s ease;
    z-index: 0;
    position: relative;
}

#p32{
    margin-bottom: -60px;
}

.calorie-content {
    background-color: rgba(150, 146, 146, 0.5);
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
    margin-left: 330px;
    display: inline-block;
    text-align: center;
    margin-bottom: 50px;
}

#p33{
    text-decoration: underline;
}

#p34{
    font-size: 35px;
    text-shadow: 3px 3px 3px black;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
}

#what4 img{
    width: 550px;
    height: auto;
    margin-left: 270px;
    margin-top: 5px;
    margin-bottom: 20px;
}    

.infographic-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
}

.infographic-box {
    padding: 20px;
    border-radius: 30px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.61);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border: 2px solid transparent;
    background: #ffffff7e;
    margin-left: 80px;
    margin-top: 20px;
    margin-right: -40px;
    margin-bottom: 30px;
    width: 40%;
}

.grey-box {
    border-color: rgb(124, 122, 122);
}

.orange-box {
    border-color: orange;
}

.infographic-box h3 {
    margin: 0 0 10px 0;
    font-size: 26px;
    color: black;
    text-align: center;
}

.infographic-box p {
    margin: 5px 0;
    font-size: 20px;
    color: black;
    text-align: center;
}

.circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    background-color: grey;
    position: absolute;
    top: 20px;
    left: -34px;
    font-size: 25px;
}

.orange-box .circle {
    background-color: orange;
}

#p35{
    margin-top: 25px;
}

#p36{
    font-size: 35px;
    text-shadow: 3px 3px 3px black;
    margin-bottom: 10px;
    margin-top: -80px;
}

#p40{
    font-size: 35px;
    text-shadow: 3px 3px 3px black;
    margin-bottom: -20px;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}

#what5 img{
    width: 500px;
    height: auto;
    margin-left: 290px;
    margin-top: 30px;
    margin-bottom: 20px;
}

#p41{
    font-size: 30px;
    text-shadow: 3px 3px 3px black;
    margin-bottom: 10px;
    margin-top: -20px;
    text-align: center;
}

.vitamins-table {
    display: table;
    width: 90%;
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid #DDA0DD;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 30px;
    overflow: hidden;
    color: black;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    padding: 10px;
    border-right: 2px solid #d87ed8;
    border-bottom: 2px solid #d87ed8;
    text-align: center;
    font-size: 22px;
    vertical-align: middle;
}

.table-cell:last-child {
    border-right: none;
}

.header .table-cell {
    background-color: rgba(185, 104, 185, 0.372);
    font-weight: bold;
}

.empty-cell {
    background-color: rgba(185, 104, 185, 0.372);
}

.table-row:first-child .table-cell {
    border-top: none;
}

.table-row .table-cell:first-child {
    border-left: none;
    font-weight: bold;
}

.table-cell:not(.header .table-cell) {
    background: #ffffff7e;
}

#why3 h2{
    margin-top: -40px;
}

#why3 img{
    width: 550px;
    height: auto;
    margin-left: 260px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#p42{
    font-size: 35px;
    text-shadow: 3px 3px 3px black;
    margin-bottom: 10px;
}

#p43{
    font-size: 35px;
    text-shadow: 3px 3px 3px black;
    margin-bottom: 10px;
    margin-top: 30px;
}

#p44{
    font-size: 25px;
    text-shadow: 3px 3px 3px black;
    margin-bottom: 10px;
    font-weight: bold;
}
#how3 h2{
    margin-top: -30px;
}

#article2 {
    padding: 20px;
}

.related-article {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    background-color: rgba(232, 231, 231, 0.877);
    transition: transform 0.3s ease, background-color 0.3s ease;
    width: 90%;
    margin-bottom: 50px;
    margin-left: 50px;
}

.related-article:hover {
    transform: scale(1.05);
    background-color: rgba(212, 211, 211, 0.689);
}

.article-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.article-link img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}

.article-info {
    padding: 10px;
}

.article-date {
    font-size: 16px;
    color: #636161;
    margin-bottom: 5px;
}

.article-title {
    font-size: 23px;
    color: #333;
    margin-left: 9px;
}

.topic3{
    background: url(background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Afacad';
    color: white;
}

.topic3 .topic-3{
    background: url(background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Afacad';
    padding: 100px 80px;
    color: white;
    height: 1196vh;
}

@keyframes slide-up {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.topic3 .topic-3 h2{
    font-size: 35px;
}

.topic-3 .title img{
    width: 500px;
    height: auto;
    margin-left: 280px;
    margin-top: 10px;
    margin-bottom: -50px;
}

#p45{
    margin-top: 50px;
}

#p50{
    margin-top: 60px;
    margin-left: 20px;
}

#p51{
    margin-left: 20px;
}

#what6 #img9{
    width: 450px;
    height: auto;
    margin-left: 300px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#img10{
    width: 150px;
    height: auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

#p46{
    font-size: 30px;
    text-shadow: 3px 3px 3px black;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

#p47{
    text-align: center;
    margin-bottom: 30px;
}

.centered-box {
    border-radius: 10px;
    background-color: rgba(211, 211, 211, 0.402);
    padding: 20px;
    margin: 20px auto;
    max-width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: -20px;
}

.flex-container3 {
    display: flex;
    align-items: center;
    gap: 2em;
    margin-top: 40px;
}

.flex-container3 img {
    max-width: 180px;
    height: 180px;
    flex: 1;
    margin-left: 40px;
    margin-top: 20px;
}

#img11{
    max-width: 180px;
    height: 160px;
}

#how2 h2{
    margin-top: -30px;
}

#how3 img{
    width: 500px;
    height: auto;
    margin-left: 280px;
    margin-top: 20px;
    margin-bottom: -10px;
}

#p48{
    font-size: 29px;
    font-family: 'Aclonica';
    text-shadow: 3px 3px 3px black;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 40px;
    text-align: center;
}

.video-container4 {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.video-container4 iframe {
    width: 80%;
    max-width: 710px;
    height: 400px;
    border: none;
    border-radius: 10px;
}

#p49{
    font-size: 27px;
    font-family: 'Aclonica';
    text-shadow: 3px 3px 3px black;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
}

#p52{
    font-size: 27px;
    font-family: 'Aclonica';
    text-shadow: 3px 3px 3px black;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: -60px;
}

#p53{
    font-size: 27px;
    font-family: 'Aclonica';
    text-shadow: 3px 3px 3px black;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 50px;
}